# SFCC_EDA
- 데이터 출처 :  https://www.kaggle.com/c/sf-crime
- 결측치, 중복데이터 처리
- 전처리

In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

In [34]:
import pandas as pd
import numpy as np
import warnings # 경고 메시지 on/off

In [35]:
train = pd.read_csv("data/train.csv")
# test = pd.read_csv("data/test.csv")

In [36]:
pd.set_option("display.max_columns", 200)
train

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541
...,...,...,...,...,...,...,...,...,...
878044,2003-01-06 00:15:00,ROBBERY,ROBBERY ON THE STREET WITH A GUN,Monday,TARAVAL,NONE,FARALLONES ST / CAPITOL AV,-122.459033,37.714056
878045,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,INGLESIDE,NONE,600 Block of EDNA ST,-122.447364,37.731948
878046,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,SOUTHERN,NONE,5TH ST / FOLSOM ST,-122.403390,37.780266
878047,2003-01-06 00:01:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Monday,SOUTHERN,NONE,TOWNSEND ST / 2ND ST,-122.390531,37.780607
878048,2003-01-06 00:01:00,FORGERY/COUNTERFEITING,"CHECKS, FORGERY (FELONY)",Monday,BAYVIEW,NONE,1800 Block of NEWCOMB AV,-122.394926,37.738212

In [37]:
# test

## 데이터 전처리

### 이상치 제거

In [38]:
pd.set_option("display.max_rows", 100)
train[["X","Y"]].sort_values(by = ["X","Y"], ascending = False)[:100]

                 X          Y
660485 -120.500000  90.000000
660711 -120.500000  90.000000
660712 -120.500000  90.000000
661106 -120.500000  90.000000
666430 -120.500000  90.000000
667042 -120.500000  90.000000
669946 -120.500000  90.000000
671709 -120.500000  90.000000
673078 -120.500000  90.000000
673114 -120.500000  90.000000
673115 -120.500000  90.000000
673510 -120.500000  90.000000
674043 -120.500000  90.000000
675070 -120.500000  90.000000
675073 -120.500000  90.000000
675288 -120.500000  90.000000
675540 -120.500000  90.000000
677036 -120.500000  90.000000
677260 -120.500000  90.000000
677268 -120.500000  90.000000
677828 -120.500000  90.000000
678326 -120.500000  90.000000
678539 -120.500000  90.000000
678540 -120.500000  90.000000
679643 -120.500000  90.000000
682780 -120.500000  90.000000
683862 -120.500000  90.000000
684406 -120.500000  90.000000
685719 -120.500000  90.000000
685720 -120.500000  90.000000
686997 -120.500000  90.000000
687519 -120.500000  90.000000
687527 -120.500000  90.000000
688950 -120.500000  90.000000
692258 -120.500000  90.000000
712309 -120.500000  90.000000
719993 -120.500000  90.000000
727080 -120.500000  90.000000
754828 -120.500000  90.000000
756059 -120.500000  90.000000
759292 -120.500000  90.000000
759397 -120.500000  90.000000
767318 -120.500000  90.000000
767501 -120.500000  90.000000
767502 -120.500000  90.000000
772415 -120.500000  90.000000
772431 -120.500000  90.000000
773159 -120.500000  90.000000
783919 -120.500000  90.000000
788574 -120.500000  90.000000
788575 -120.500000  90.000000
789255 -120.500000  90.000000
798834 -120.500000  90.000000
823378 -120.500000  90.000000
833362 -120.500000  90.000000
833921 -120.500000  90.000000
839585 -120.500000  90.000000
842259 -120.500000  90.000000
842261 -120.500000  90.000000
842434 -120.500000  90.000000
842435 -120.500000  90.000000
842828 -120.500000  90.000000
844995 -120.500000  90.000000
845842 -120.500000  90.000000
852880 -120.500000  90.000000
857248 -120.500000  90.000000
871198 -120.500000  90.000000
740530 -122.364937  37.810204
742285 -122.364937  37.810204
743245 -122.364937  37.810204
743445 -122.364937  37.810204
744517 -122.364937  37.810204
744523 -122.364937  37.810204
744550 -122.364937  37.810204
744551 -122.364937  37.810204
744568 -122.364937  37.810204
744582 -122.364937  37.810204
744605 -122.364937  37.810204
745321 -122.364937  37.810204
745330 -122.364937  37.810204
746426 -122.364937  37.810204
746506 -122.364937  37.810204
746670 -122.364937  37.810204
746838 -122.364937  37.810204
746878 -122.364937  37.810204
746974 -122.364937  37.810204
746977 -122.364937  37.810204
747996 -122.364937  37.810204
748415 -122.364937  37.810204
748496 -122.364937  37.810204
749932 -122.364937  37.810204
750058 -122.364937  37.810204
750390 -122.364937  37.810204
752782 -122.364937  37.810204
752783 -122.364937  37.810204
754249 -122.364937  37.810204
755953 -122.364937  37.810204
756006 -122.364937  37.810204
756038 -122.364937  37.810204
756286 -122.364937  37.810204

In [39]:
pd.set_option("display.max_rows", 100)
train[["X","Y"]].sort_values(by = ["X","Y"], ascending = True)[:100]

                 X          Y
795899 -122.513642  37.778469
835783 -122.513642  37.778469
86     -122.513642  37.778469
206    -122.513642  37.778469
565    -122.513642  37.778469
2941   -122.513642  37.778469
3575   -122.513642  37.778469
3943   -122.513642  37.778469
3944   -122.513642  37.778469
3945   -122.513642  37.778469
4804   -122.513642  37.778469
5240   -122.513642  37.778469
5683   -122.513642  37.778469
6518   -122.513642  37.778469
7486   -122.513642  37.778469
8254   -122.513642  37.778469
8339   -122.513642  37.778469
8538   -122.513642  37.778469
8574   -122.513642  37.778469
8985   -122.513642  37.778469
9136   -122.513642  37.778469
9137   -122.513642  37.778469
9518   -122.513642  37.778469
9964   -122.513642  37.778469
10795  -122.513642  37.778469
11101  -122.513642  37.778469
13629  -122.513642  37.778469
13630  -122.513642  37.778469
13782  -122.513642  37.778469
13832  -122.513642  37.778469
14509  -122.513642  37.778469
14562  -122.513642  37.778469
14970  -122.513642  37.778469
15189  -122.513642  37.778469
16467  -122.513642  37.778469
16468  -122.513642  37.778469
16986  -122.513642  37.778469
16987  -122.513642  37.778469
17248  -122.513642  37.778469
17353  -122.513642  37.778469
18064  -122.513642  37.778469
18187  -122.513642  37.778469
19007  -122.513642  37.778469
19616  -122.513642  37.778469
19653  -122.513642  37.778469
20667  -122.513642  37.778469
20921  -122.513642  37.778469
22702  -122.513642  37.778469
26032  -122.513642  37.778469
28234  -122.513642  37.778469
28245  -122.513642  37.778469
28628  -122.513642  37.778469
29080  -122.513642  37.778469
29216  -122.513642  37.778469
29221  -122.513642  37.778469
29938  -122.513642  37.778469
31489  -122.513642  37.778469
33782  -122.513642  37.778469
34002  -122.513642  37.778469
34724  -122.513642  37.778469
38326  -122.513642  37.778469
39085  -122.513642  37.778469
39719  -122.513642  37.778469
40846  -122.513642  37.778469
45587  -122.513642  37.778469
46378  -122.513642  37.778469
48103  -122.513642  37.778469
48213  -122.513642  37.778469
50252  -122.513642  37.778469
52318  -122.513642  37.778469
52895  -122.513642  37.778469
53477  -122.513642  37.778469
53907  -122.513642  37.778469
58211  -122.513642  37.778469
58212  -122.513642  37.778469
58213  -122.513642  37.778469
58925  -122.513642  37.778469
59846  -122.513642  37.778469
60886  -122.513642  37.778469
60887  -122.513642  37.778469
60892  -122.513642  37.778469
60893  -122.513642  37.778469
61526  -122.513642  37.778469
62674  -122.513642  37.778469
63731  -122.513642  37.778469
63768  -122.513642  37.778469
64158  -122.513642  37.778469
64159  -122.513642  37.778469
67829  -122.513642  37.778469
69379  -122.513642  37.778469
69673  -122.513642  37.778469
69979  -122.513642  37.778469
69980  -122.513642  37.778469
70841  -122.513642  37.778469
71056  -122.513642  37.778469
74797  -122.513642  37.778469
74798  -122.513642  37.778469
76063  -122.513642  37.778469
77486  -122.513642  37.778469
78366  -122.513642  37.778469

__1. 제거된 이상치 수__

In [40]:
len(train) - len(train[train["Y"] != 90])

67

In [41]:
train = train[train["Y"] != 90]

In [42]:
train.reset_index(drop = True, inplace = True)

In [43]:
train

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541
...,...,...,...,...,...,...,...,...,...
877977,2003-01-06 00:15:00,ROBBERY,ROBBERY ON THE STREET WITH A GUN,Monday,TARAVAL,NONE,FARALLONES ST / CAPITOL AV,-122.459033,37.714056
877978,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,INGLESIDE,NONE,600 Block of EDNA ST,-122.447364,37.731948
877979,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,SOUTHERN,NONE,5TH ST / FOLSOM ST,-122.403390,37.780266
877980,2003-01-06 00:01:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Monday,SOUTHERN,NONE,TOWNSEND ST / 2ND ST,-122.390531,37.780607
877981,2003-01-06 00:01:00,FORGERY/COUNTERFEITING,"CHECKS, FORGERY (FELONY)",Monday,BAYVIEW,NONE,1800 Block of NEWCOMB AV,-122.394926,37.738212

### 중복데이터 제거

In [44]:
warnings.filterwarnings(action='ignore')
train.drop_duplicates(inplace = True)

In [45]:
train.reset_index(drop = True, inplace = True)

In [46]:
train

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541
...,...,...,...,...,...,...,...,...,...
875654,2003-01-06 00:15:00,ROBBERY,ROBBERY ON THE STREET WITH A GUN,Monday,TARAVAL,NONE,FARALLONES ST / CAPITOL AV,-122.459033,37.714056
875655,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,INGLESIDE,NONE,600 Block of EDNA ST,-122.447364,37.731948
875656,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,SOUTHERN,NONE,5TH ST / FOLSOM ST,-122.403390,37.780266
875657,2003-01-06 00:01:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Monday,SOUTHERN,NONE,TOWNSEND ST / 2ND ST,-122.390531,37.780607
875658,2003-01-06 00:01:00,FORGERY/COUNTERFEITING,"CHECKS, FORGERY (FELONY)",Monday,BAYVIEW,NONE,1800 Block of NEWCOMB AV,-122.394926,37.738212

### Dates 변환
- Dates 피처를 년, 월, 일, 시, 분 으로 나누어서 각각 컬럼에 저장

In [47]:
# 날짜를 변환해서 년원일분으로 나눠주는 함수
def split_date(df):
    date = pd.to_datetime(df["Dates"])
    df["Dates"] = date
    df["Year"] = date.dt.year
    df["Month"] = date.dt.month
    df["Day"] = date.dt.day
    df["Hour"] = date.dt.hour
    df["Min"] = date.dt.minute

In [48]:
split_date(train)
# split_date(test)

### 평일/주말 구분

In [54]:
# 날짜를 받아서 주말 평일을 판단하는 함수
# 평일이면 0 주말이면 1 반환
from datetime import datetime, date

def is_weekend(d):
    if d.weekday() > 4:
        wd = "weekend"
    else:
        wd = "weekday"
    return wd

In [55]:
train["is_Weeked"] = train["Dates"].apply(is_weekend)

### 계절 구분
- Month를 기준으로 계절 구분
- 컬럼명은 Season
- spring = [3,4,5]
- summer = [6,7,8]
- fall = [9,10,11]
- winter = [12,1,2]

In [57]:
def season_div(x):
    if 3<=x<6:
        a = "spring"
    elif 6<=x<9:
        a = "summer"
    elif 9<=x<12:
        a = "fall"
    else:
        a = "winter"
    return a

In [58]:
train["Season"] = train["Month"].apply(season_div)

In [61]:
train.to_csv("data/train_pre.csv", index = False)